:root {
    --main-color: #06121e;
    --text-color: #7a7a7a;
    ---blue-color: #428bca;
    --yelow-color: #cac042;
    --gray-rgba-color: #b5b5b5;

    --default-header-height: 56px;
    --home-max-width: 1360px;
    --home-min-height: 1000px;
    --home-height-header: 96px;
    --home-content-width: 1320px;
    --box-radius: 3px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--main-color);
    // overflow-y: overlay; //scroll
}

//Scrollbar css;
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

ul {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: #fff;
}

ul,
p {
    margin: 0;
    padding: 0;
}

button {
    outline: none;
    border: none;
}

@font-face {
    font-family: ProximaNova;
    src: url('../../assets/fonts/Proxima-Nova-Bold.woff2');
    // src: url('../../assets/fonts/')
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('../../assets/fonts/Proxima-Nova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('../../assets/fonts/Proxima-Nova-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('../../assets/fonts/sofiapro-bold.woff2');
    font-weight: 700;
}
