.film-block {
    margin-bottom: 20px;
    // padding: 0 6px;
}

// --List film--

.list {
    width: 100%;
    margin: 0 !important; // bo margin cua row
    .item {
        height: auto;
        padding: 10px;
        transition: transform ease-in 0.1s;
        will-change: transform;

        &:hover {
            transform: translateY(-1px);
        }
    }

    .avata {
        // the a
        height: auto;
        width: 100%;

        .image {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-size: contain;
        }
    }

    .film-name {
        display: block;
        margin-top: 16px;
        font-size: 1.6rem;
        min-width: 48px;

        .name {
            color: #fff;
        }

        .English-name {
            color: var(--text-color);
        }
    }
}

.name,
.English-name {
    overflow: hidden;
    // Ba cham sau chu
    display: block;
    /* tác động lên số dòng bn -> dòng bn thì có 3 chấm */
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    white-space: nowrap; // (*)
}
