<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="/admin/dashboard" class="brand-link">
    <span class="brand-text font-weight-light">XemPhim Admin</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input
          class="form-control form-control-sidebar"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="/admin/dashboard" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              Quản lý dữ liệu
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/films" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Quản lý Phim</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/genres" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Quản lý Thể loại</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/categories" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Quản lý Loại phim</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/countries" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Quản lý Quốc gia sản xuất</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/persons" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Quản lý Nhân viên sản xuất phim</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="/admin/users" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>Quản lý User</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
