.wrapper {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    padding: 0 12px;
}

.list {
    height: 50px;
    display: flex;
    align-items: center;
    .item {
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            font-size: 1.6rem;
            margin-right: 6px;
            border: 1px solid #dbdbdb;
            border-radius: 4px;
            background-color: transparent;
            color: #fff;
            cursor: pointer;
            &:hover {
                border-color: #b5b5b5;
                color: #dcf836;
            }
        }
    }
    .doc {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        font-size: 1.6rem;
        margin-right: 6px;
        color: #fff;
    }
}
.active {
    background-color: #428bca !important;
}

.box {
    display: flex;
    align-items: center;
    height: 50px;

    .prev-page,
    .next-page {
        min-width: 164px;
        font-size: 1.6rem;
        padding: 7px 12px;
        margin: 0 4px;
        text-align: center;
        border: 1px solid #dbdbdb;
        border-radius: 4px;
        background-color: transparent;
        color: #fff;
        &:hover {
            border-color: #b5b5b5;
            color: #dcf836;
            cursor: pointer;
        }
    }

    .next-page {
    }
}
