:root {
    --content-width: 100%;
}

.wrapper {
    min-height: 1000px;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 600px;

    .image {
        display: block;
        width: 100%;
        height: 100%;
        background-position: 50% 0;
        background-repeat: no-repeat;
        object-fit: cover;
        background-size: contain;
    }
    position: relative;
}

.background::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 600px;
    top: 0;
    bottom: 0;
    background-color: rgba(2, 13, 24, 0.75);
}

.content {
    width: var(--content-width);
    margin: auto;
}

.container {
    display: flex;
    position: relative;
    padding: 48px; //sua
    margin-top: -360px;
    color: #fff;

    .details {
        width: 100%;
        display: flex;
        margin: -12px -18px;
        overflow: hidden;
    }

    .column-left {
        width: 25%;
        padding: 12px 32px;
        .film-image {
            height: auto;
            width: 90%;
            margin: auto;
            .image {
                display: block;
                max-width: 100%;
                margin: auto;
                object-fit: cover;
                background-size: cover;
            }
        }

        .button-play {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            width: 100%;
            height: 50px;

            background-color: #dd003f;
            border-radius: 5px;
            .icon {
                margin-right: 12px;
                display: block;
                width: 18px;
                fill: #fff;
            }

            .text {
                font-size: 1.8rem;
            }
            &:hover {
                background-color: #f14668;
            }
        }
    }
}

.container .column-right {
    width: 75%;
    padding: 12px 32px;

    .title {
        font-size: 4rem;
        font-family: 'Merriweather', serif;
        color: #fff;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .subtitle {
        display: flex;
        font-size: 2rem;
        margin-bottom: 40px;
        color: #b5b5b5;

        .sub {
            margin-right: 8px;
        }
        .year {
            color: #428bca;
            cursor: pointer;
            &:hover {
                color: #dcf836;
            }
        }
    }

    .Imdh {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 20px;
        .icon {
            width: 42px;
            height: 40px;
            margin-right: 10px;
        }
    }

    .genres {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        .left {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 30px;
            .item {
                font-size: 1.4rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 4px;
                padding: 6px 14px;

                .icon {
                    width: 24px;
                    height: 24px;
                    margin-right: 6px;
                }
                .text {
                    flex-basis: auto;
                    flex-grow: 1;
                    flex-shrink: 0;
                }
            }

            .share {
                min-width: 100px;
                margin-right: 14px;
                background-color: #485fc7;
                color: #fff;
            }

            .album {
                min-width: 110px;
                position: relative;
                background-color: transparent;
                border: 1px solid #3e8ed0;
                color: #3e8ed0;
                cursor: pointer;
                &:hover {
                    a,
                    .icon {
                        color: #dcf836;
                    }
                }
            }

            //option
            .option1,
            .option2 {
                border: none;
                color: #fff;
                .icon-check,
                .icon-eye {
                    width: 23px;
                    height: 23px;
                    color: #fff;
                    margin-right: 8px;
                }
                &:hover {
                    color: #fff;
                }
                &:hover ~ .add-collection {
                    display: block;
                }
            }
            .option1 {
                background-color: #203f76;
            }
            //df5d4d

            .option2 {
                background-color: #df5d4d;
            }

            .add-collection {
                position: absolute;
                min-width: 240px;
                font-size: 1.4rem;
                padding: 6px 12px;
                border-radius: 4px;
                background-color: #fff;
                cursor: pointer;
                display: none;
                .watched {
                    line-height: 30px;
                    color: #000;
                    b {
                        margin-left: 6px;
                    }
                    &:hover {
                        background-color: #f5f5f5;
                    }
                }
            }
            .album:hover ~ .add-collection {
                display: block;
            }

            .add-collection:hover {
                display: block;
            }
        }

        .right {
            display: flex;
            flex-wrap: wrap;
            .item {
                font-size: 1.2rem;
                padding: 4px 12px;
                border: 1px solid #fff;
                margin-right: 10px;
                margin-bottom: 10px;
                border-radius: 50px;
                &:hover {
                    color: #dcf836;
                }
            }
        }
    }
}

.column-right .info {
    margin-bottom: 30px;
    .establish,
    .premiere,
    .country {
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 3rem;
        color: #7a7a7a;

        p {
            width: 140px;
        }

        a {
            margin-left: 3px;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .premiere {
        .time {
            margin-left: 2px;
            color: #fff;
        }
    }
}

.column-right .description {
    font-size: 1.6rem;
    margin-bottom: 30px;
    color: #b5b5b5;
    line-height: 26px;
}

// dung chung
.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .header {
        color: #fff;
        font-size: 1.6rem;
        font-weight: 600;
    }

    .icon {
        display: block;
        .icon-left,
        .icon-right {
            width: 34px;
            height: 32px;
            font-size: 3rem;
            cursor: pointer;
        }

        .disable {
            color: #b5b5b5;
            cursor: text;
        }
        .none {
            display: none;
        }
    }
}

// --sua
.cast .list .slick-slider {
    width: 2550px;
    display: flex;

    .slide {
        transform: translate3d(-664px, 0px, 0px);
    }
}

.column-right .cast {
    .list {
        display: flex;
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: calc(100% / 6);
            flex-shrink: 0;
            margin: 0 auto;
            a {
                figure {
                    width: 120px;
                    height: 120px;
                    position: relative;
                    overflow: hidden;
                    border-radius: 50%;
                    .image {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }

                    &:hover {
                        box-shadow: 0 0 0 2px #cc7b19;
                    }
                }
            }

            span {
                margin-top: 10px;
                display: block;
                text-align: center;
                width: 100%;

                .name {
                    font-size: 1.6rem;
                    font-weight: 500;
                    &:hover {
                        text-decoration: underline;
                    }
                }

                .character {
                    display: -webkit-box;
                    font-size: 1.4rem;
                    margin-top: 3px;
                    color: #b5b5b5;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

.column-right .trailer {
    margin-top: 38px;

    .list-trailer {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        margin-top: -14px;
        margin-left: 2px;

        .item-trailer {
            width: calc(100% / 4);
            padding: 10px;
            .clip {
                position: relative;
                width: 100%;
                cursor: pointer;
                // ifame {
                //     width: 100%;
                //     flex-shrink: 0;
                // }

                &:hover {
                    border: 2px solid #cc7b19;
                }
            }
            .clip:hover .button-play {
                display: inline-block;
            }

            .button-play {
                width: 30px;
                height: 30px;
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                display: none;
                cursor: pointer;
                .icon {
                    fill: #fff;
                }
            }
        }
    }
}

.wrapper .footer h1 {
    color: #fff;
}

// RESPONSIVE:

//Extra Small Device
@media screen and (max-width: 575px) {
    .container .column-right {
        .title {
            font-size: 3rem;
        }
    }
    .column-right .cast {
        .list {
            .item {
                width: calc(100% / 2);
            }
        }
    }

    .column-right .trailer {
        .list-trailer {
            .item-trailer {
                width: 50%;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .container .column-right {
        .title {
            font-size: 3rem;
        }
    }
    .column-right .trailer {
        .list-trailer {
            .item-trailer {
                width: 50%;
            }
        }
    }
}
//Medium (768px);
@media (max-width: 768px) {
    .container {
        padding: 48px 12px;
    }
    .container .details {
        display: block;
        overflow: hidden;
        margin: 0;
    }
    .container .column-left,
    .container .column-right {
        padding: 0;
        width: 100%;
    }

    .container .column-left {
        margin-bottom: 36px;
        .film-image .image {
            width: 334px;
        }
    }

    .container .column-right {
    }

    .container .column-right {
        .genres {
            flex-direction: column;
            .left {
                flex-direction: column;
                .share {
                    margin-right: 0;
                    margin-bottom: 12px;
                }
            }

            .right {
                margin-top: 24px;
                .item {
                }
            }
        }

        .cast {
            overflow-x: hidden;
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        padding: 48px 12px;
    }

    .column-right .trailer {
        .list-trailer {
            .item-trailer {
                width: calc(100% / 2);
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {
    .container {
        padding: 48px 12px;
    }

    .column-right .genres {
        .left {
            .item {
                font-size: 1.2rem !important;
            }
        }
    }
}
