:root {
    ---header-guitter: 20px;
}

.wrapper {
    padding-bottom: 48px;
}
.header {
    width: calc(100% - 20px);
    margin: 0 auto 20px auto;
    .title {
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 3rem;
        font-weight: 600;
        color: #fff;
        margin-bottom: 12px;
    }

    .classify {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 48px;
        background-color: #0b1e30;
        .day,
        .month,
        .year {
            color: rgba(255, 255, 255, 0.7);
            height: 100%;
            width: calc(100% / 3);
            font-size: 1.6rem;
            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
            background-color: transparent;
            line-height: 48px;
            text-align: center;
            &:hover {
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
}

.classify .active {
    color: #3f51b5 !important;
    border-bottom: 2px solid #3f51b5 !important;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .header {
        .title {
            font-size: 2rem;
        }
    }
}
