.wrapper {
    max-width: 100%;
    background-image: url('https://truongthinh.info/wp-content/uploads/2021/10/01/02/anh-cac-mau-background-trang-den-dep-don-gian-ma-sang-trong-1.jpg');
    padding: 48px 24px;
    color: #fff;
    object-fit: cover;
    overflow: hidden;
}

.compare {
    display: block;
    margin: 0 0 24px 40px;
    font-size: 1.6rem;
    font-weight: 500;
    a {
        display: inline-block;
        color: #428bca;
        &:hover {
            color: #dcf836;
        }
    }
}

.list {
    font-size: 1.4rem;
    margin-left: 30px;
    .item {
        color: var(--gray-rgba-color);
        list-style-type: circle !important;
        margin-bottom: 8px;
        z-index: 1;
    }
}

.contact {
    margin: 20px auto;
    margin-right: 60px;
    display: flex;
    justify-content: flex-end;
    .icon {
        padding: 8px 10px;
        margin-right: 24px;
        border-radius: 50%;
        background: #071334;
        border: 1px solid hsla(0, 0%, 100%, 0.36);
        &:hover {
            background: #2f0a61;
        }
    }

    .email,
    .fb,
    .telegram {
        font-size: 2.4rem;
    }
}
