.wrapper {
    padding-bottom: 48px;
}

.search {
    height: 50px;
    margin-bottom: 12px;
    padding: 0px 12px;
}

.input {
    height: 100%;
    width: 100%;
    padding: 6px 20px;
    font-size: 1.7rem;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #363636;
}
