.content {
    max-width: var(--home-max-width);
    // min-height: var(--home-min-height);
    margin: auto;
    margin-top: 100px;
    background-color: var(--main-color);
}

.footer {
    width: 100%;
    height: 274px;
}

//769 - 1024:3 item; 1025- 1408:4item
