:root {
    --height-item: 40px;
    --width-item: 200px;
}

.wrapper { 
    display: flex !important;
    justify-content: space-around;
    background-color: #091c2d;
    min-height: var(--home-height-header);
    border-radius: var(--box-radius);
    position: relative;
    margin: auto;
}

.block {
    width: 100%; //set width
    padding-left: 10px;
    padding-right: 10px;

    .type {
        margin: 0;
        padding: 12px;
        display: block;
        flex-basis: 0; //set width or height
        flex-grow: 1; //sử dụng khoảng trống còn lại của 1 box
        flex-shrink: 1; //co lại
    }
}

.title {
    display: block;
    font-size: 1.7rem;
    margin-bottom: 8px;
    font-weight: 700;
    color: #fff;
}

.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    min-height: var(--height-item);
    line-height: var(--height-item);
    background-color: #fff;
    border-radius: 5px;
    overflow: overlay;
    position: relative;

    .icon {
        margin-right: 4px;
        font-size: 2.8rem;
        color: #428bca;
        cursor: pointer;
    }

    .icon:hover {
        color: #cac042;
    }
}

.control .list {
    //select
    width: 100%;
    display: block;
    height: var(--height-item);
    margin: 0;
    padding: 7px 40px 7px 12px;
    -webkit-appearance: none; //none - select
    cursor: pointer;
    border-color: transparent;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    white-space: pre;
    border-width: 0px;
}

.control::after,
.control::before {
    content: ' ';
    display: block;
    margin-top: -0.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    height: 10px;
    width: 3px;
    background-color: #428bca;
    border-radius: 1px;
    -webkit-transform-origin: center;
    transform-origin: center;
    cursor: pointer;
}

.control::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 22px;
}

.control:hover::after,
.control:hover::before {
    cursor: pointer;
    background-color: #cac042;
}

.control::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 16px;
}

//ICON

.display {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    padding: 12px 4px;

    p {
        margin-bottom: -5px;
        font-size: 1.6rem;
        font-weight: 700;
    }

    .field {
        display: flex;
        align-items: center;

        .list {
            border-color: transparent;
        }
        .list,
        .app {
            background-color: transparent;
            color: #fff;
            cursor: pointer;
        }

        .icon:first-child {
            font-size: 4.2rem;
        }

        .icon-app {
            font-size: 3rem;
            margin-left: 5px;
        }

        .disable {
            color: #7a7a7a;
        }
    }
}

@media (max-width: 739px) {
    .block .type {
        flex-basis: 50%;
    }
}
