:root {
    --height-item: 40px;
    --width-item: 200px;
}

.wrapper {
    display: flex !important;
    justify-content: space-around;
    background-color: #091c2d;
    min-height: var(--home-height-header);
    border-radius: var(--box-radius);
    position: relative;
}

.block {
    width: 100%; //set width
    padding-left: 10px;
    padding-right: 10px;
}

.type {
    margin: 0;
    margin: auto;
    padding: 0 10px;
}

.title {
    display: block;
    font-size: 1.7rem;
    margin-bottom: 8px;
    font-weight: 700;
    color: #fff;
}

.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-left: 10px;
    // width: var(--width-item);
    // width: calc(100% - 10px);
    width: 100%;

    min-height: var(--height-item);
    line-height: var(--height-item);
    background-color: #fff;
    border-radius: 5px;
    overflow: overlay;
    position: relative;

    .icon {
        margin-right: 4px;
        font-size: 2.8rem;
        color: #428bca;
        cursor: pointer;
    }

    .icon:hover {
        color: #cac042;
    }
}

.control .list {
    //select
    width: 100%;
    display: block;
    height: var(--height-item);
    // width: var(--width-item);
    margin: 0;
    padding: 7px 40px 7px 12px;
    -webkit-appearance: none; //none - select
    cursor: pointer;
    border-color: transparent;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    white-space: pre;
    border-width: 0px;
}

.list:focus {
    border-radius: 5px;
    border-color: #fff;
    box-shadow: 0 0 0 0.125em rgba(66, 139, 202, 0.25);
}

.control::after,
.control::before {
    content: ' ';
    display: block;
    margin-top: -0.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    height: 10px;
    width: 3px;
    background-color: #428bca;
    border-radius: 1px;
    -webkit-transform-origin: center;
    transform-origin: center;
    cursor: pointer;
}

.control::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 22px;
}

.control:hover::after,
.control:hover::before {
    cursor: pointer;
    background-color: #cac042;
}

.control::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 16px;
}

@media (max-width: 739px) {
}
